* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('background.png');
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    margin: 0;
    transition: transform 0.3s ease;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: large;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

.content {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #d1d1d1;
}

.cta-btn {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #d1d1d1;
}
